
/* colors */
$black-color: #1D1C1D;
$grey-color: #B31D1C1D;
$primary-color: #007A5A;
$white-color: #FFFFFF;
$primary-color-foreground: #1D1C1D;
$gray-color-4: #BDBDBD;
$orange-color: #FF8D40;
// low constrast gray
$gray-color-3: #211D1C1D;
// high constrast gray
$gray-color-6: #801D1C1D;
// color the background
$background-color: #F8F8F8;
/* end of color variables */