/* styling for modal */
.modal {
  @extend .container;
  width: 520px;
  height: 560px;
  background: $white-color;
  border: 1px solid rgba(29, 28, 29, 0.13);
  border-radius: 16px;
  z-index: 9999;
  transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;

   @include respond-below(sm){
    width: 320px;
  }

}

/* modal header styling*/
.modal-header {
  @extend .flex-row;
  height: 70px;
}

.app-icon {
  position: absolute;
  width: 26px;
  height: 30px;
  left: 28px;
  top: 20px;
}

// title of the modal
.modal-title-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #1D1C1D;
  position: absolute;
  left: 80px;
  right: 72px;
}

.close-icon {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 20px;
  top: 17px;

  &:hover {
    cursor: pointer;
  }
}
/* end of modal header styling*/

/* modal footer styling */
.modal-footer {
  position: absolute;
  height: 84px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 1px solid $gray-color-3;
}

.modal-buttons {
  float: right;
  @extend .flex-row;
  margin-right: 28px;
  margin-top: 24px;
}

.mr-12 {
  margin-right: 12px;
}
/* end of modal footer styling */

/* modal content styling */
.modal-content {
  position: absolute;
  top: 70px;
  bottom: 84px;
  width: 520px;
  height: 408px;
  overflow-y: scroll;

  // resize the width based on the screen size specified
  @include respond-below(sm){
    width: 320px;
  }
}


// end of styling for modal